# 触发工作流的条件：手动触发（workflow_dispatch）或推送了 tag（例如 v1.0.0）
on:
  workflow_dispatch:
  push:
    tags:
      - '*'  # 匹配所有 tag，例如 v1.0.0

      
jobs:
  android: # 构建 Android 应用
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
      - run: flutter pub get
      - run: flutter build apk --target-platform android-arm64
      - run: mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/YingShiPan_android.apk && cp build/app/outputs/flutter-apk/YingShiPan_android.apk YingShiPan_android.apk.apk
      - uses: softprops/action-gh-release@v2
        with:
          files: YingShiPan_android.apk.apk
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
          overwrite: true          # 新增：覆盖已存在的同名 Release
          delete_old_assets: true  # 新增：删除旧的资产文件
          fail_on_unmatched_files: false # 新增：避免文件匹配失败报错
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  ios: # 构建 iOS 应用
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
      - run: zip -r YingShiPan_iphone.zip build/ios/iphoneos/Payload && mv YingShiPan_iphone.zip YingShiPan_iphone.ipa
      - uses: softprops/action-gh-release@v2
        with:
          files: YingShiPan_iphone.ipa
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
          overwrite: true          # 新增：覆盖已存在的同名 Release
          delete_old_assets: true  # 新增：删除旧的资产文件
          fail_on_unmatched_files: false # 新增：避免文件匹配失败报错
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
